include PopulationDynamics/*.py
include PopulationDynamics/LICENSE.txt
include PopulationDynamics/README.txt
include PopulationDynamics/MANIFEST.in
include PopulationDynamics/*.tex
include PopulationDynamics/*.pdf
